name: Build - Latest

on:
  push:
    branches:
      - 'main'
    tags:
      - 'v*.*.*.*'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
      - name: Extract version from Dockerfile
        id: get_version
        run: |
          VERSION=$(awk -F'=' '/^ARG[[:space:]]+version/ {print $2; exit}' Dockerfile | tr -d '"')
          if [ -z "$VERSION" ]; then
            echo "version=latest" >> "$GITHUB_OUTPUT"
            exit 0
          fi
          FORMATTED_VERSION="v$(echo "$VERSION" | sed 's/./&./g; s/\.$//')"
          echo "version=$FORMATTED_VERSION" >> "$GITHUB_OUTPUT"
      - name: Build and push
        uses: docker/build-push-action@v3
        with:
          push: true
          tags: kaysond/docker-terraria:${{ steps.get_version.outputs.version }},kaysond/docker-terraria:latest
